/*
 * main css for keymap
 */

#solo-banner {
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    font-size: 33px;
    font-weight: bold;
}

#footer {
    text-align: center;
    font-size: smaller;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#copyright {
    width: 100%;
    text-align: center;
}

a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
